<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.quic.bluetooth"
      android:versionCode="1"
      android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/ic_launcher_bluetooth"
                 android:label="@string/bluetooth_label">

        <activity android:name=".BluetoothBrowserActivity"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ************************************* -->
        <!--      First Tab (My Local Files)       -->
        <!-- ************************************* -->

        <activity android:name=".LocalFileManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!--      Second Tab (Remote Server Files) -->
        <!-- ************************************* -->
        <activity android:name=".RemoteFileManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>

    <activity android:name=".BluetoothDevicePicker"
              android:label="@string/bluetooth_device_picker_title"
              android:theme="@android:style/Theme.NoTitleBar">
    </activity>

    <!-- Bluetooth OBEX Authorize stuff -->
    <activity android:name=".BluetoothObexAuthorizeDialog"
              android:label="@string/bluetooth_obex_authorize"
              android:theme="@*android:style/Theme.Dialog.Alert">
        <intent-filter>
            <action android:name="android.bluetooth.obex.intent.action.AUTHORIZE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <service android:name=".BluetoothObexReceiverService" android:exported="true" />

    <receiver android:name=".BluetoothObexReceiver">
        <intent-filter>
            <action android:name="android.bluetooth.obex.intent.action.AUTHORIZE" />
            <action android:name="android.bluetooth.obex.intent.action.RX_COMPLETE" />
        </intent-filter>
    </receiver>
    </application>
</manifest>